/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 sept 2025, 15:25:55
    Author     : Hp
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Quicksand:wght@300..700&display=swap');
:root{
    --bg-color-dark: #131200;
    --text-color-dark: #EDF2F4;
    --links-color-dark: #EFBDF;
    --links-color-hover: #8D91C7;
    --nav-links: #8D3FD1;
    -highlight: #EDF67D;
}

body, main, h3{
    padding: 0;
    margin: 0;
}

a{
    color: var(--links-color-dark);
    text-decoration: none;
}
